@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-primary text-primary
}

.rounded-div {
  @apply border border-secondary rounded-2xl shadow-xl bg-primary px-2 max-w-[1140px] w-full mx-auto
}

.dark {
  --color-bg-primary: #2D3748;
  --color-bg-secondary: #283141;
  --color-text-primary: #DBDBDB;
  --color-text-secondary: #E2E8F0;
  --color-text-accent: #81E6D9;
  --color-bg-input: #4A5361;
  --color-bg-button: #81E6D9;
}

.light {
  --color-bg-primary: #FFF;
  --color-bg-secondary: #EDF2F7;
  --color-text-primary: #2D3748;
  --color-text-secondary: #4A5568;
  --color-text-accent: #2B6CB0;
  --color-bg-input: #EDF2F7;
  --color-bg-button: #2B6CB0;
}